;; Copy data from the credentials of your Oauth provider
{:client-id "<client-id>"
 :auth-uri "<auth-uri>",
 :token-uri "<token-uri>",
 :client-secret "<client-id>"
 :redirect-uri  "<redirect-uri>"
 :landing-uri :default #_nil }
